@font-face{
  font-family: 'siyuan_reg';
  font-display: swap;
  src: url('./font/SourceHanSerifCN-Regular.otf') format("truetype");
}

@font-face{
  font-family: 'siyuan_semibold';
  font-display: swap;
  src: url('./font/PingFang-Regular.ttf') format("truetype");
}

@font-face{
  font-family: 'siyuan_extralight';
  font-display: swap;
  src: url('./font/PingFang-ExtraLight.ttf') format("truetype");
}

@font-face{
  font-family: 'siyuan_heavy';
  font-display: swap;
  src: url('./font/PingFang-Heavy.ttf') format("truetype");
}

@font-face{
  font-family: 'siyuan_Light';
  font-display: swap;
  src: url('./font/PingFang-Light.ttf') format("truetype");
}


@font-face{
  font-family: 'siyuan_Medium';
  font-display: swap;
  src: url('./font/PingFang-Medium.ttf') format("truetype");
}

@font-face{
  font-family: 'siyuan_bold';
  font-display: swap;
  src: url('./font/PingFang-Bold.ttf') format("truetype");
}



body {
  font-family: 'siyuan_reg','siyuan_bold','siyuan_heavy','siyuan_Light','siyuan_Medium','siyuan_semibold','siyuan_extralight';
}